<footer class="footer">
  <p>This page was built using the Antora default UI with some modifications for the Groupama context.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>
