<header class="header">
   <nav class="navbar">
      <div class="navbar-brand">
         <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
         {{#if env.SITE_SEARCH_PROVIDER}}
         <div class="navbar-item search hide-for-print">
            <div id="search-field" class="field">
               <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
            </div>
         </div>
         {{/if}}
         <button class="navbar-burger" data-target="topbar-nav">
         <span></span>
         <span></span>
         <span></span>
         </button>
      </div>
      <div id="topbar-nav" class="navbar-menu">
         <div class="navbar-end">
            <a class="navbar-item" href="#">Home</a>
            <a class="navbar-item" href="https://groupama.fr" target="_blank"/">Site</a>
            <div class="navbar-item has-dropdown is-hoverable">
               <a class="navbar-link" href="#">Environnement</a>
               <div class="navbar-dropdown">
                  <a class="navbar-item" href="https://erm-dev.ra1.intra.groupama.fr/Login/iis" target="_blank">Dev</a>
                  <a class="navbar-item" href="https://erm-rec.ra1.intra.groupama.fr/Login/iis" target="_blank">Recette</a>
                  <a class="navbar-item" href="https://erm-pp.ra1.intra.groupama.fr/login/iis" target="_blank">Préprod</a>
                  <a class="navbar-item" href="https://erm.ra1.intra.groupama.fr/login/iis" target="_blank"><p style="color:red;">Prod</p></a>
               </div>
            </div>
            <div class="navbar-item">
               <span class="control">
               <a class="button is-primary" href="{{{siteRootPath}}}/{{{page.component.name}}}/{{{page.componentVersion.version}}}/{{{page.component.name}}}.pdf" target="_blank">Download</a>
               </span>
            </div>
         </div>
      </div>
   </nav>
</header>
